[Unit]
Description=HTTP Echo Container
After=network-online.target containerd.service
Requires=containerd.service

[Service]
Type=simple
Restart=always
RestartSec=5

ExecStartPre=-/usr/bin/nerdctl load -i /opt/containers/http-echo.tar

ExecStart=/usr/bin/nerdctl run \
    --rm \
    --pull never \
    --name http-echo \
    --network host \
    hashicorp/http-echo:latest \
    -text="hello from http-echo containerd"

ExecStop=/usr/bin/nerdctl stop http-echo

[Install]
WantedBy=multi-user.target
